name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Run Tests
    runs-on: macos-26
    
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      
    - name: Build
      run: swift build -v

    - name: Run Tests
      run: swift test --enable-code-coverage

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}