name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Run Tests
    runs-on: macos-26
    
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      
    - name: Run Tests
      run: swift test
